.button {
	display: inline-block;
	padding: 10px 15px;
	border: 1px solid #DBE6F0;
	color: #000;
	font-size: 1.4em;
	transition: border-color .3s, color .3s, background-color .3s;

	&--white {
		color: #fff;

		&:hover {
			border-color: #274291;
			color: #274291;
		}
	}

	&--tag {
		position: relative;
		display: block;
		font-size: 1.2rem;
		border-radius: 3px;
		background-color: #6e6e6e;
		border: none;
		color: #fff;
		padding: 5px 10px;

		&:after {
			border-bottom: 15px solid transparent;
			border-left: 10px solid #6e6e6e;
			border-top: 15px solid transparent;
			content: '';
			position: absolute;
			right: -9px;
			top: 0;
			transition: border-color .3s;
		}

		&:hover {
			background-color: lighten(#6e6e6e, 10%);

			&:after {
				border-left-color: lighten(#6e6e6e, 10%);
			}
		}
	}

	&--green {
		background-color: #8DC743;
		color: #fff;
		border: none;

		&:hover {
			background-color: darken(#8DC743, 10%);
		}
	}
}