.footer {
	margin-top: auto;
	padding: 15px 0;
    border-top: 1px solid #e2e2e1;
}

.footer__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
}

.footer__col {
	margin-right: 30px;
	width: 100%;
	max-width: 250px;

	&:last-child {
		width: auto;
		margin-right: 0;
	}

	&--start {
		margin-right: auto;
		width: 100%;
		max-width: 360px;
	}
}

.footer__title {
	margin-bottom: 10px;
	font-size: 1.6rem;
	font-weight: 200;
	color: #4f4f4f;
}

.footer__text {
	margin-top: 10px;
	font-size: 1.3rem;
	font-weight: 200;
	line-height: 1.6;
	color: #4f4f4f;
}

.footer__link {
	display: block;
	margin-top: 10px;
	position: relative;
    font-size: 1.35rem;
    color: #ab8b3f;

    &:after {
		content: '»';
		display: inline-block;
		margin-left: 3px;
		color: #282828;
    }
}