.header {
	position: relative;
}

.header__top {
	background: linear-gradient(180deg,#fff 0,#fff 29%,#fdfdfd 37%,#e7e6e6 86%,#e2e2e2);
}

.header__logo {
	position: absolute;
	left: 30px;
	top: 0;
	width: 100px;
	height: 100px;
	z-index: 2;
}

.header__title {
	padding: 10px 0;
	color: #867d67;
	font-size: 1.7rem;
	font-weight: 700;
	letter-spacing: .01rem;
	margin-left: 150px;
	text-transform: uppercase;
}

.header__bottom {
	padding: 17px 0;
	background: #867d67;
}

.header__bottom-row {
	padding-left: 150px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__link {
	display: inline-block;
	font-size: 1.3rem;
	font-weight: 300;
	color: #fff;
	padding: 13px 19px;
	letter-spacing: .04rem;
	text-transform: uppercase;
	transition: background .3s ease;

	&:hover {
		background: #aba495;
	}
}

.m-mobile,
.header__burger {
	display: none;
}