@media screen and (max-width: 700px) {

	.header__bottom-row {
		display: none;
	}

	.m-mobile,
	.header__burger {
		display: block;
	}

	.m-mobile {
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		color: #fff;
		font-size: 1.5rem;
		z-index: 2;
		background: #5e5748;
		opacity: 0;
		visibility: hidden;
		transition: opacity .3s, visibility .3s;

		&--opened {
			opacity: 1;
			visibility: visible;
		}
	}

	.m-mobile__link {
		display: block;
		position: relative;
		padding: 14px;
		border-bottom: 1px solid #867d67;
		color: #fff;
	}

	.header__burger {
		text-align: right;
		font-size: 24px;
		color: #fff;
		cursor: pointer;
	}
}