div.footer
	div.container
		div.footer__row
			div.footer__col.footer__col--start
				div.footer__title Löydä lähin luotettava tekijä!
				div.footer__text Tekijäpankista löydät osaavat ja luotettavat tekijät maalaustyöllesi.
				a(href="#").footer__link löydät

			div.footer__col
				div.footer__title Yleistä
				a(href="#").footer__link löydät
				a(href="#").footer__link löydät

			div.footer__col
				div.footer__title Seuraa meitä
				a(href="#").footer__link Facebook
				a(href="#").footer__link Google+