div.header
	div.header__top
		div.container
			a(href="#").header__logo
				img(src="assets/images/static/header__logo.jpg", alt="")
			div.header__title Tekijäpankki

	div.header__bottom
		div.container
			div.header__burger <i class="fas fa-bars"></i>
			div.header__bottom-row
				div.header__menu
					a(href="#").header__link <i class="fas fa-home"></i>
					a(href="#").header__link Tekijät
					a(href="#").header__link Tietoa palvelusta
				a(href="#").header__button.button.button--white Pyydä tarjous

	div.m-mobile
		a(href="#").m-mobile__link Tekijät
		a(href="#").m-mobile__link Tietoa palvelusta
		a(href="#").m-mobile__link Pyydä tarjous

	

