extends layout

block title
	title main page

block content
	div.p-top
		div.container
			div.p-top__row
				div.h-search
					div.h-search__title Hae
					form.h-search__form
						input(type="text").h-search__input
						button(type='submit').h-search__button <i class="fas fa-search"></i>

				div.type
					div.type__title Lajitteluperuste
					div.type__row
						a(href="" data-type='Työnäytteet').type__item.type__item--active Työnäytteet 
						a(href="" data-type='Nimi').type__item Nimi
						a(href="" data-type='Palaute').type__item Palaute

	div.sort
		div.container
			div.sort__title Valitse maalaustyö
			div.sort__row
				a(href="#" data-category='Terassit').sort__item.button.button--tag Terassit
				a(href="#" data-category='Katot').sort__item.button.button--tag Katot
				a(href="#" data-category='Puujulkisivut').sort__item.button.button--tag Puujulkisivut
				a(href="#" data-category='Tasoitustyöt').sort__item.button.button--tag Tasoitustyöt
				a(href="#" data-category='Efektimaalaus').sort__item.button.button--tag Efektimaalaus
				a(href="#" data-category='Lattiat').sort__item.button.button--tag Lattiat
				a(href="#" data-category='Kivijulkisivut ja sokkelit').sort__item.button.button--tag Kivijulkisivut ja sokkelit
				a(href="#" data-category='Ovet ikkunat ja kalusteet').sort__item.button.button--tag Ovet ikkunat ja kalusteet

	div.s-note Ovet ikkunat ja kalusteet

	div.results
		div.container
			div(data-type='Nimi' data-categories='Katot').r-card
				div.r-card__image-wrapper
					img(src="http://via.placeholder.com/140x140", alt="").r-card__image
				div.r-card__content
					a(href="#").r-card__title Tammijuuri 1
					div.r-card__placement <i class="fas fa-map-marker"></i> HELSINKI
					a(href="tel:+358407350437").r-card__contact <i class="fas fa-phone"></i> +358407350437
					a(href="mailto:").r-card__contact <i class="far fa-envelope"></i> lauri@tammijuuri.fi
					div.r-card__text Tammijuuri on ystävällinen ja ihmisläheinen maalausliike Helsingistä. Keskityn pääasiassa asuinhuoneistojen ja pienten liiketilojen pintakäsittelyyn. Toiminta-alueeni on pääosin pääkaupunkiseudulla. Maalarin palveluiden lisäksi teen myös tapetoinnit, laminaattilattioiden asennukset, nauhoitus-, tasoite-, ja verkotustyöt sekä pienet ulkomaalaustyöt ammattitaidolla ja asiakkaiden toiveiden ehdolla. Maalauspalvelussani huomioin ympäristön ja luonnon muun muassa kierrättämällä kaiken mahdollisen työstä aiheutuvan jätteen ja käyttämällä ympäristöystävällisiä tarvikkeita ja materiaaleja
					div.r-card__tags
						span.r-card__tag Terassit
						span.r-card__tag Katot
						span.r-card__tag Puujulkisivut
						span.r-card__tag Tasoitustyöt
						span.r-card__tag Sisämaalaukset
						span.r-card__tag Lattiat
						span.r-card__tag Ovet ikkunat ja kalusteet
				div.r-card__more
					div.r-card__more-button
						a(href="#").button.button--green Pyydä tarjous!
					div.house
						div.house__icon <i class="fas fa-warehouse"></i>
						div.house__value 11

			div(data-type='Työnäytteet' data-categories='Puujulkisivut').r-card
				div.r-card__image-wrapper
					img(src="http://via.placeholder.com/140x140", alt="").r-card__image
				div.r-card__content
					a(href="#").r-card__title Tammijuuri 2
					div.r-card__placement <i class="fas fa-map-marker"></i> HELSINKI
					a(href="tel:+358407350437").r-card__contact <i class="fas fa-phone"></i> +358407350437
					a(href="mailto:").r-card__contact <i class="far fa-envelope"></i> lauri@tammijuuri.fi
					div.r-card__text Tammijuuri on ystävällinen ja ihmisläheinen maalausliike Helsingistä. Keskityn pääasiassa asuinhuoneistojen ja pienten liiketilojen pintakäsittelyyn. Toiminta-alueeni on pääosin pääkaupunkiseudulla. Maalarin palveluiden lisäksi teen myös tapetoinnit, laminaattilattioiden asennukset, nauhoitus-, tasoite-, ja verkotustyöt sekä pienet ulkomaalaustyöt ammattitaidolla ja asiakkaiden toiveiden ehdolla. Maalauspalvelussani huomioin ympäristön ja luonnon muun muassa kierrättämällä kaiken mahdollisen työstä aiheutuvan jätteen ja käyttämällä ympäristöystävällisiä tarvikkeita ja materiaaleja
					div.r-card__tags
						span.r-card__tag Terassit
						span.r-card__tag Katot
						span.r-card__tag Puujulkisivut
						span.r-card__tag Tasoitustyöt
						span.r-card__tag Lattiat
						span.r-card__tag Ovet ikkunat ja kalusteet
				div.r-card__more
					div.r-card__more-button
						a(href="#").button.button--green Pyydä tarjous!
					div.house
						div.house__icon <i class="fas fa-warehouse"></i>
						div.house__value 11

			div(data-type='Palaute' data-categories='Terassit').r-card
				div.r-card__image-wrapper
					img(src="http://via.placeholder.com/140x140", alt="").r-card__image
				div.r-card__content
					a(href="#").r-card__title Tammijuuri 3
					div.r-card__placement <i class="fas fa-map-marker"></i> HELSINKI
					a(href="tel:+358407350437").r-card__contact <i class="fas fa-phone"></i> +358407350437
					a(href="mailto:").r-card__contact <i class="far fa-envelope"></i> lauri@tammijuuri.fi
					div.r-card__text Tammijuuri on ystävällinen ja ihmisläheinen maalausliike Helsingistä. Keskityn pääasiassa asuinhuoneistojen ja pienten liiketilojen pintakäsittelyyn. Toiminta-alueeni on pääosin pääkaupunkiseudulla. Maalarin palveluiden lisäksi teen myös tapetoinnit, laminaattilattioiden asennukset, nauhoitus-, tasoite-, ja verkotustyöt sekä pienet ulkomaalaustyöt ammattitaidolla ja asiakkaiden toiveiden ehdolla. Maalauspalvelussani huomioin ympäristön ja luonnon muun muassa kierrättämällä kaiken mahdollisen työstä aiheutuvan jätteen ja käyttämällä ympäristöystävällisiä tarvikkeita ja materiaaleja
					div.r-card__tags
						span.r-card__tag Terassit
						span.r-card__tag Katot
						span.r-card__tag Puujulkisivut
						span.r-card__tag Tasoitustyöt
						span.r-card__tag Sisämaalaukset
						span.r-card__tag Lattiat
						span.r-card__tag Ovet ikkunat ja kalusteet
				div.r-card__more
					div.r-card__more-button
						a(href="#").button.button--green Pyydä tarjous!
					div.house
						div.house__icon <i class="fas fa-warehouse"></i>
						div.house__value 11

			div(data-type='Nimi' data-categories='Katot').r-card
				div.r-card__image-wrapper
					img(src="http://via.placeholder.com/140x140", alt="").r-card__image
				div.r-card__content
					a(href="#").r-card__title Tammijuuri 1
					div.r-card__placement <i class="fas fa-map-marker"></i> HELSINKI
					a(href="tel:+358407350437").r-card__contact <i class="fas fa-phone"></i> +358407350437
					a(href="mailto:").r-card__contact <i class="far fa-envelope"></i> lauri@tammijuuri.fi
					div.r-card__text Tammijuuri on ystävällinen ja ihmisläheinen maalausliike Helsingistä. Keskityn pääasiassa asuinhuoneistojen ja pienten liiketilojen pintakäsittelyyn. Toiminta-alueeni on pääosin pääkaupunkiseudulla. Maalarin palveluiden lisäksi teen myös tapetoinnit, laminaattilattioiden asennukset, nauhoitus-, tasoite-, ja verkotustyöt sekä pienet ulkomaalaustyöt ammattitaidolla ja asiakkaiden toiveiden ehdolla. Maalauspalvelussani huomioin ympäristön ja luonnon muun muassa kierrättämällä kaiken mahdollisen työstä aiheutuvan jätteen ja käyttämällä ympäristöystävällisiä tarvikkeita ja materiaaleja
					div.r-card__tags
						span.r-card__tag Terassit
						span.r-card__tag Katot
						span.r-card__tag Puujulkisivut
						span.r-card__tag Tasoitustyöt
						span.r-card__tag Sisämaalaukset
						span.r-card__tag Lattiat
						span.r-card__tag Ovet ikkunat ja kalusteet
				div.r-card__more
					div.r-card__more-button
						a(href="#").button.button--green Pyydä tarjous!
					div.house
						div.house__icon <i class="fas fa-warehouse"></i>
						div.house__value 11

			div(data-type='Työnäytteet' data-categories='Puujulkisivut').r-card
				div.r-card__image-wrapper
					img(src="http://via.placeholder.com/140x140", alt="").r-card__image
				div.r-card__content
					a(href="#").r-card__title Tammijuuri 2
					div.r-card__placement <i class="fas fa-map-marker"></i> HELSINKI
					a(href="tel:+358407350437").r-card__contact <i class="fas fa-phone"></i> +358407350437
					a(href="mailto:").r-card__contact <i class="far fa-envelope"></i> lauri@tammijuuri.fi
					div.r-card__text Tammijuuri on ystävällinen ja ihmisläheinen maalausliike Helsingistä. Keskityn pääasiassa asuinhuoneistojen ja pienten liiketilojen pintakäsittelyyn. Toiminta-alueeni on pääosin pääkaupunkiseudulla. Maalarin palveluiden lisäksi teen myös tapetoinnit, laminaattilattioiden asennukset, nauhoitus-, tasoite-, ja verkotustyöt sekä pienet ulkomaalaustyöt ammattitaidolla ja asiakkaiden toiveiden ehdolla. Maalauspalvelussani huomioin ympäristön ja luonnon muun muassa kierrättämällä kaiken mahdollisen työstä aiheutuvan jätteen ja käyttämällä ympäristöystävällisiä tarvikkeita ja materiaaleja
					div.r-card__tags
						span.r-card__tag Terassit
						span.r-card__tag Katot
						span.r-card__tag Puujulkisivut
						span.r-card__tag Tasoitustyöt
						span.r-card__tag Sisämaalaukset
						span.r-card__tag Lattiat
						span.r-card__tag Ovet ikkunat ja kalusteet
				div.r-card__more
					div.r-card__more-button
						a(href="#").button.button--green Pyydä tarjous!
					div.house
						div.house__icon <i class="fas fa-warehouse"></i>
						div.house__value 11

			div(data-type='Palaute' data-categories='Tasoitustyöt').r-card
				div.r-card__image-wrapper
					img(src="http://via.placeholder.com/140x140", alt="").r-card__image
				div.r-card__content
					a(href="#").r-card__title Tammijuuri 3
					div.r-card__placement <i class="fas fa-map-marker"></i> HELSINKI
					a(href="tel:+358407350437").r-card__contact <i class="fas fa-phone"></i> +358407350437
					a(href="mailto:").r-card__contact <i class="far fa-envelope"></i> lauri@tammijuuri.fi
					div.r-card__text Tammijuuri on ystävällinen ja ihmisläheinen maalausliike Helsingistä. Keskityn pääasiassa asuinhuoneistojen ja pienten liiketilojen pintakäsittelyyn. Toiminta-alueeni on pääosin pääkaupunkiseudulla. Maalarin palveluiden lisäksi teen myös tapetoinnit, laminaattilattioiden asennukset, nauhoitus-, tasoite-, ja verkotustyöt sekä pienet ulkomaalaustyöt ammattitaidolla ja asiakkaiden toiveiden ehdolla. Maalauspalvelussani huomioin ympäristön ja luonnon muun muassa kierrättämällä kaiken mahdollisen työstä aiheutuvan jätteen ja käyttämällä ympäristöystävällisiä tarvikkeita ja materiaaleja
					div.r-card__tags
						span.r-card__tag Terassit
						span.r-card__tag Katot
						span.r-card__tag Puujulkisivut
						span.r-card__tag Tasoitustyöt
						span.r-card__tag Sisämaalaukset
						span.r-card__tag Lattiat
						span.r-card__tag Ovet ikkunat ja kalusteet
				div.r-card__more
					div.r-card__more-button
						a(href="#").button.button--green Pyydä tarjous!
					div.house
						div.house__icon <i class="fas fa-warehouse"></i>
						div.house__value 11

			div(data-type='Nimi' data-categories='Katot').r-card
				div.r-card__image-wrapper
					img(src="http://via.placeholder.com/140x140", alt="").r-card__image
				div.r-card__content
					a(href="#").r-card__title Tammijuuri 4
					div.r-card__placement <i class="fas fa-map-marker"></i> HELSINKI
					a(href="tel:+358407350437").r-card__contact <i class="fas fa-phone"></i> +358407350437
					a(href="mailto:").r-card__contact <i class="far fa-envelope"></i> lauri@tammijuuri.fi
					div.r-card__text Tammijuuri on ystävällinen ja ihmisläheinen maalausliike Helsingistä. Keskityn pääasiassa asuinhuoneistojen ja pienten liiketilojen pintakäsittelyyn. Toiminta-alueeni on pääosin pääkaupunkiseudulla. Maalarin palveluiden lisäksi teen myös tapetoinnit, laminaattilattioiden asennukset, nauhoitus-, tasoite-, ja verkotustyöt sekä pienet ulkomaalaustyöt ammattitaidolla ja asiakkaiden toiveiden ehdolla. Maalauspalvelussani huomioin ympäristön ja luonnon muun muassa kierrättämällä kaiken mahdollisen työstä aiheutuvan jätteen ja käyttämällä ympäristöystävällisiä tarvikkeita ja materiaaleja
					div.r-card__tags
						span.r-card__tag Terassit
						span.r-card__tag Katot
						span.r-card__tag Puujulkisivut
						span.r-card__tag Tasoitustyöt
						span.r-card__tag Sisämaalaukset
						span.r-card__tag Lattiat
						span.r-card__tag Ovet ikkunat ja kalusteet
				div.r-card__more
					div.r-card__more-button
						a(href="#").button.button--green Pyydä tarjous!
					div.house
						div.house__icon <i class="fas fa-warehouse"></i>
						div.house__value 11

			div(data-type='Työnäytteet' data-categories='Lattiat').r-card
				div.r-card__image-wrapper
					img(src="http://via.placeholder.com/140x140", alt="").r-card__image
				div.r-card__content
					a(href="#").r-card__title Tammijuuri 5
					div.r-card__placement <i class="fas fa-map-marker"></i> HELSINKI
					a(href="tel:+358407350437").r-card__contact <i class="fas fa-phone"></i> +358407350437
					a(href="mailto:").r-card__contact <i class="far fa-envelope"></i> lauri@tammijuuri.fi
					div.r-card__text Tammijuuri on ystävällinen ja ihmisläheinen maalausliike Helsingistä. Keskityn pääasiassa asuinhuoneistojen ja pienten liiketilojen pintakäsittelyyn. Toiminta-alueeni on pääosin pääkaupunkiseudulla. Maalarin palveluiden lisäksi teen myös tapetoinnit, laminaattilattioiden asennukset, nauhoitus-, tasoite-, ja verkotustyöt sekä pienet ulkomaalaustyöt ammattitaidolla ja asiakkaiden toiveiden ehdolla. Maalauspalvelussani huomioin ympäristön ja luonnon muun muassa kierrättämällä kaiken mahdollisen työstä aiheutuvan jätteen ja käyttämällä ympäristöystävällisiä tarvikkeita ja materiaaleja
					div.r-card__tags
						span.r-card__tag Terassit
						span.r-card__tag Katot
						span.r-card__tag Puujulkisivut
						span.r-card__tag Tasoitustyöt
						span.r-card__tag Sisämaalaukset
						span.r-card__tag Lattiat
						span.r-card__tag Ovet ikkunat ja kalusteet
				div.r-card__more
					div.r-card__more-button
						a(href="#").button.button--green Pyydä tarjous!
					div.house
						div.house__icon <i class="fas fa-warehouse"></i>
						div.house__value 11

			div(data-type='Palaute' data-categories='Terassit').r-card
				div.r-card__image-wrapper
					img(src="http://via.placeholder.com/140x140", alt="").r-card__image
				div.r-card__content
					a(href="#").r-card__title Tammijuuri 6
					div.r-card__placement <i class="fas fa-map-marker"></i> HELSINKI
					a(href="tel:+358407350437").r-card__contact <i class="fas fa-phone"></i> +358407350437
					a(href="mailto:").r-card__contact <i class="far fa-envelope"></i> lauri@tammijuuri.fi
					div.r-card__text Tammijuuri on ystävällinen ja ihmisläheinen maalausliike Helsingistä. Keskityn pääasiassa asuinhuoneistojen ja pienten liiketilojen pintakäsittelyyn. Toiminta-alueeni on pääosin pääkaupunkiseudulla. Maalarin palveluiden lisäksi teen myös tapetoinnit, laminaattilattioiden asennukset, nauhoitus-, tasoite-, ja verkotustyöt sekä pienet ulkomaalaustyöt ammattitaidolla ja asiakkaiden toiveiden ehdolla. Maalauspalvelussani huomioin ympäristön ja luonnon muun muassa kierrättämällä kaiken mahdollisen työstä aiheutuvan jätteen ja käyttämällä ympäristöystävällisiä tarvikkeita ja materiaaleja
					div.r-card__tags
						span.r-card__tag Terassit
						span.r-card__tag Katot
						span.r-card__tag Puujulkisivut
				div.r-card__more
					div.r-card__more-button
						a(href="#").button.button--green Pyydä tarjous!
					div.house
						div.house__icon <i class="fas fa-warehouse"></i>
						div.house__value 11

			div(data-type='Nimi' data-categories='Tasoitustyöt').r-card
				div.r-card__image-wrapper
					img(src="http://via.placeholder.com/140x140", alt="").r-card__image
				div.r-card__content
					a(href="#").r-card__title Tammijuuri 7
					div.r-card__placement <i class="fas fa-map-marker"></i> HELSINKI
					a(href="tel:+358407350437").r-card__contact <i class="fas fa-phone"></i> +358407350437
					a(href="mailto:").r-card__contact <i class="far fa-envelope"></i> lauri@tammijuuri.fi
					div.r-card__text Tammijuuri on ystävällinen ja ihmisläheinen maalausliike Helsingistä. Keskityn pääasiassa asuinhuoneistojen ja pienten liiketilojen pintakäsittelyyn. Toiminta-alueeni on pääosin pääkaupunkiseudulla. Maalarin palveluiden lisäksi teen myös tapetoinnit, laminaattilattioiden asennukset, nauhoitus-, tasoite-, ja verkotustyöt sekä pienet ulkomaalaustyöt ammattitaidolla ja asiakkaiden toiveiden ehdolla. Maalauspalvelussani huomioin ympäristön ja luonnon muun muassa kierrättämällä kaiken mahdollisen työstä aiheutuvan jätteen ja käyttämällä ympäristöystävällisiä tarvikkeita ja materiaaleja
					div.r-card__tags
						span.r-card__tag Tasoitustyöt
				div.r-card__more
					div.r-card__more-button
						a(href="#").button.button--green Pyydä tarjous!
					div.house
						div.house__icon <i class="fas fa-warehouse"></i>
						div.house__value 11

			div(data-type='Työnäytteet' data-categories='Puujulkisivut').r-card
				div.r-card__image-wrapper
					img(src="http://via.placeholder.com/140x140", alt="").r-card__image
				div.r-card__content
					a(href="#").r-card__title Tammijuuri 8
					div.r-card__placement <i class="fas fa-map-marker"></i> HELSINKI
					a(href="tel:+358407350437").r-card__contact <i class="fas fa-phone"></i> +358407350437
					a(href="mailto:").r-card__contact <i class="far fa-envelope"></i> lauri@tammijuuri.fi
					div.r-card__text Tammijuuri on ystävällinen ja ihmisläheinen maalausliike Helsingistä. Keskityn pääasiassa asuinhuoneistojen ja pienten liiketilojen pintakäsittelyyn. Toiminta-alueeni on pääosin pääkaupunkiseudulla. Maalarin palveluiden lisäksi teen myös tapetoinnit, laminaattilattioiden asennukset, nauhoitus-, tasoite-, ja verkotustyöt sekä pienet ulkomaalaustyöt ammattitaidolla ja asiakkaiden toiveiden ehdolla. Maalauspalvelussani huomioin ympäristön ja luonnon muun muassa kierrättämällä kaiken mahdollisen työstä aiheutuvan jätteen ja käyttämällä ympäristöystävällisiä tarvikkeita ja materiaaleja
					div.r-card__tags
						span.r-card__tag Puujulkisivut
				div.r-card__more
					div.r-card__more-button
						a(href="#").button.button--green Pyydä tarjous!
					div.house
						div.house__icon <i class="fas fa-warehouse"></i>
						div.house__value 11

			div(data-type='Palaute' data-categories='Katot').r-card
				div.r-card__image-wrapper
					img(src="http://via.placeholder.com/140x140", alt="").r-card__image
				div.r-card__content
					a(href="#").r-card__title Tammijuuri 9
					div.r-card__placement <i class="fas fa-map-marker"></i> HELSINKI
					a(href="tel:+358407350437").r-card__contact <i class="fas fa-phone"></i> +358407350437
					a(href="mailto:").r-card__contact <i class="far fa-envelope"></i> lauri@tammijuuri.fi
					div.r-card__text Tammijuuri on ystävällinen ja ihmisläheinen maalausliike Helsingistä. Keskityn pääasiassa asuinhuoneistojen ja pienten liiketilojen pintakäsittelyyn. Toiminta-alueeni on pääosin pääkaupunkiseudulla. Maalarin palveluiden lisäksi teen myös tapetoinnit, laminaattilattioiden asennukset, nauhoitus-, tasoite-, ja verkotustyöt sekä pienet ulkomaalaustyöt ammattitaidolla ja asiakkaiden toiveiden ehdolla. Maalauspalvelussani huomioin ympäristön ja luonnon muun muassa kierrättämällä kaiken mahdollisen työstä aiheutuvan jätteen ja käyttämällä ympäristöystävällisiä tarvikkeita ja materiaaleja
					div.r-card__tags
						span.r-card__tag Katot
				div.r-card__more
					div.r-card__more-button
						a(href="#").button.button--green Pyydä tarjous!
					div.house
						div.house__icon <i class="fas fa-warehouse"></i>
						div.house__value 11



