//default settings

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
	font-family: sans-serif;
	line-height: 1.15;
	font-size: 12px;
}

body {
	font-family: "MyriadPro";
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.4;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 30px;
}