@media screen and (max-width: 1000px) {

	.h-search__title {
		margin-right: 20px;
	}

	.h-search__form {
		width: 200px;
	}
}

@media screen and (max-width: 700px) {

	.h-search {
		display: block;
		margin-bottom: 20px;
	}

	.h-search__form {
		width: 100%;
	}
}