@media screen and (max-width: 700px) {

	.r-card {
		display: block;

		&--hidden {
			display: none;
		}
	}

	.r-card__content {
		padding-right: 20px;
	}

	.r-card__contact {
		display: block;
	}

	.r-card__tags {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-bottom: 20px;
	}

	.r-card__more {
		padding-left: 0;
	}
}