.h-search {
	display: flex;
	align-items: center;
}

.h-search__title {
	font-size: 1.2rem;
	font-weight: 700;
	text-transform: uppercase;
	color: #4f4f4f;
	margin-right: 130px;
}

.h-search__form {
	position: relative;
	width: 300px;
	
}

.h-search__input {
	display: block;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 10px 40px 15px 20px;
	font-size: 1.4rem;
}

.h-search__button {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	background-color: transparent;
	border: none;
	font-size: 22px;
	cursor: pointer;
}