.p-top {
	padding: 12px 0;
	background: -webkit-linear-gradient(bottom, #e2e2e1, #fffffe);
	background: -o-linear-gradient(bottom, #e2e2e1, #fffffe);
	background: linear-gradient(to top, #e2e2e1, #fffffe);
}

.p-top__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}