.r-card {
	padding: 18px 0;
	border-bottom: 1px solid #e2e2e1;
	display: flex;
	justify-content: space-between;

	&:last-child {
		border: none;
	}

	&--hidden {
		display: none;
	}
}

.r-card__image-wrapper {
	width: 140px;
	flex-shrink: 0;
	margin-right: 20px;
}

.r-card__more {
	width: 160px;
	flex-shrink: 0;
	padding-left: 20px;
}

.r-card__title {
	margin-bottom: 10px;
	font-size: 1.8rem;
	font-weight: 600;
	color: #ab8b3f;

	&:hover {
		text-decoration: underline;
	}
}

.r-card__placement {
	margin: 2px 0;
	font-size: 1.2rem;

	i {
		color: #3a3f6d;
	}
}

.r-card__contact {
	color: #ab8b3f;
	font-size: 1.1rem;
	margin: 0 29px 2px 0;

	&:hover {
		text-decoration: underline;
	}

	i {
		color: #3a3f6d;
	}
}

.r-card__text {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 1.3rem;
	font-weight: 200;
	line-height: 1.5;
}

.r-card__tag {
	font-size: 1.15rem;
	font-weight: 700;
	color: #4f4f4f;

	&:after {
		content: '•';
		margin-left: 4px;
		margin-right: 4px;
	}

	&:last-child {

		&:after {
			display: none;
		}
	}
}

.r-card__content {
	padding-right: 70px;
	border-right: 1px dotted #ccc;
}

.r-card__more-button {
	margin-bottom: 20px;
}