.sort {
	padding: 13px 0;
    background: #f7f7f7;
}

.sort__title {
	@extend .h-search__title;

	margin-right: 0;
	margin-bottom: 10px;
}

.sort__row {
	display: flex;
	flex-wrap: wrap;
}

.sort__item {
	margin-right: 20px;
	margin-bottom: 5px;

	&--active {
		opacity: .5;
	}
}