.type {
	display: flex;
	align-items: center;
}

.type__title {
	@extend .h-search__title;

	margin-right: 30px;
}

.type__item {
	position: relative;
	padding-bottom: 5px;
	color: #3a3f6d;
	font-size: 1.2rem;
	font-weight: 400;
	margin-right: 20px;
	transition: color .3s ease;

	&:last-child {
		margin-right: 0;
	}

	&:after {
		content: '';
		width: 100%;
		height: 3px;
		position: absolute;
		background: #3a3f6d;
		bottom: 0;
		left: 0;
		transform: scale3d(0, 1, 1);
		transform-origin: right center;
		transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.15s, -webkit-transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.15s;
	}

	&--active,
	&:hover {
		color: #000;
		
		&:after {
			transform: scale3d(1, 1, 1);
			transform-origin: left center;
		}
	}
}